:root {
  --font-body: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
  --font-title: 'Cinzel', Helvetica, 'Times New Roman', serif;

  --color-white: #fafafa;
  --color-black: #333;
  --color-red-wine: #931a25;
  --color-sandstone: #ccaa45;

  --color-navy-blue: #1E2A78;
  --color-soft-blue: #49BCF6;
  --color-aquamarine: #49BCF6;
  --color-soft-green: #49DEB2;

  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  /* --color-gray-300: #d4d4d4; */
  --color-gray-400: #a3a3a3;
  --color-gray-500: #6b7280;

  --color-text: var(--color-black);

  --color-primary: var(--color-navy-blue);
  --color-primary-600: #172059;
  --color-primary-700: #151b40;

  --color-secondary: var(--color-aquamarine);
  --color-secondary-50: #fbf9f6;
  --color-secondary-100: #f0ece4;
  /* --color-secondary-400: #dfc884; */
  --color-secondary-700: #937a32;

  --color-background-secondary: var(--color-gray-100);

}
